div {
    width: 200px;
    height: 200px;
    background: #ccc;
    display: inline-block;
}

span {
    color: red;
    font-weight: bold;
    display: block;
}

#dos {
    /* display: none; */
    visibility: hidden;
}