@import url(otrosEstilos.css);

h2 {
    color:darkorange;
}

p {
    color: deeppink;
}

/* Comentario CSS */

/*
Selectores

- Selector Universal -> *
- Tipo ó de etiqueta -> p
- Class -> .algo
- Id -> #algo
- Pseudo-Clases -> :link, :visited, :active, :hover
- De atributo -> [href]
*/

/* Selector Universal -> * */
/* * { font-family: arial;} */

/* Selector de Tipo o de Etiqueta */
span {
    color: darkgreen;
}

/* Selector Class */
span.subrayado { text-decoration: underline;}

/* Selector ID */
h3#mayusculas {
    text-transform: uppercase;
}

/* Selectores Pseudo-Class*/
a:link { color: green;} /* Link NO visitado */
a:visited { color: coral;} /* Link que ya se ha visitado */
a:hover { font-weight: bold; text-decoration: none;} /* Cursor sobre el link */
a:active { color: brown;} /* Link presionado o al dar click*/

/* Selectores de Atributo */
/* Todos los elementos con el atributo específico */
/*
img[title] {    
    width: 400px;
    height: auto;
}
*/
/* Todos los elementos con el atributo específico y un valor específico */
/*
img[alt="Ave azul exótica"] {   
    width: 200px;
    height: auto;
}
*/

/* Fuente */
body {
    /*
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    font-variant: normal;
    line-height: 36px;
    */
    /* Shorthand o método abreviado */
    font: italic small-caps bold 25px/200% arial, helvetica, sans-serif;
}

/* Texto */
p {
    text-align: justify; /* left, center, right, justify */
    text-indent: 20px; /* número ó % */
    text-transform: capitalize; /* lowercase, uppercase, capitalize */
    text-decoration: line-through; /*underline, overline, line-through, none*/
}

img {
    vertical-align: middle; /* baseline, top, middle, bottom, sub, sup */
}

h2 {
    letter-spacing: 5px;
    word-spacing: 20px;
}

/* Fondo */
body {
    /* background-color: peachpuff; */
    /* background-image: url(../img/pajaro_azul.jpg); */
    /* background-repeat: no-repeat;  repeat, no-repeat, repeat-x, repear-y */
    /* background-position: 20% 50%;  Valores relativos o absolutos. center top, center right, 100px 200px, 20% 50% */
    /* background-attachment: fixed;  scroll, fixed */
}

/* Cuadro */
#cuadro {
    width: 200px; /* Define el ancho del elemento */
    height: 200px; /* Define el alto del elemento */
    overflow: auto; /* scroll, hidden, visible, auto */
    background: lime;

    /* border-width: 4px;
    border-style: solid;
    border-color: red; */
    border: 4px solid red;

    /* padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 50px;
    padding-left: 5px; */
    padding: 20px 50px 10px 5px;

    /* margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 70px;
    margin-left: 20px; */
    margin: 40px 0px 70px 20px;
}